.create-pet-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.create-pet-form button{
    border-radius: 20px;
    padding: 0.75em;
    margin-right: 5%;
    font-family: 'Rubik Mono One', sans-serif;
}

input[type=text]{
    width: 22em;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.create-pet-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #c6e2e9;
    border-radius: 20px;
    padding: 2em;

}

body{
    margin: 0px;
    font-family: 'Rubik Mono One', sans-serif;
    background-image: url(images/background.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animateBackground 60s linear infinite alternate;
}


@keyframes animateBackground{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

nav{
    display: inline-block;
    margin-bottom: 2%;
    padding: 0.75em;
    background-color: #fde6ba;
    width: 100%;
}

nav a{
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    
}

#list-of-dogs ul a {
    margin-left: 5px;
    color: blue;
    cursor: pointer;
}
