.create-pet-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.create-pet-form button{
    border-radius: 20px;
    padding: 0.75em;
    margin-right: 5%;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 0.75em;
    background-color: #a8d4d4;
}

.create-pet-form button:hover{
    background-color: #7a9c9c;
}

input[type=text], select{
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.create-pet-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1.5em;
    background-color: #c6e2e9;
    border-radius: 20px;
    padding: 2em;
    align-items: center;

}

.create-pet-image-container{
    padding-top: 1em;
}

.create-pet-image-container img{
    max-width: 6em;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
}

.stats{
    list-style-type: none;
}

.item-container{
    display: flex;
}

.pet-image-container img{
    max-height: 6em;
    margin-left: 1.5em;
}

.shelter-container {
    display: flex;
}

.shelter-image-container img{
    max-height: 6em;
}

body{
    margin: 0px;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 1.5em;
    background-image: url(images/background.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animateBackground 60s linear infinite alternate;
}


@keyframes animateBackground{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

nav{
    display: inline-block;
    margin-bottom: 2%;
    padding: 0.75em;
    background-color: #fde6ba;
    width: 100%;
}

nav a{
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}

nav a:hover{
    color: #848484;
}

.list-container ul a {
    margin-left: 5%;
    color: blue;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #c6e2e9;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
}
